.parent {
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    width: 430px;
    height: 430px;
  }
  p {
    position: relative;
    left: 38%;
    font-weight: bold;
    width: 320px;
  }
}
