.notFound {
  margin: 0 auto;
  max-width: 800px;
  padding: 140px;
  text-align: center;
  span {
    font-size: 100px;
  }
  p {
    font-size: 25px;
  }
}

.buttonBack {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
}
